COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
CHAIN_ID=114
DEPLOYER_PRIVATE_KEY=
DEPLOYMENT_PRIVATE_KEY=
VAULT_OWNER=
FXRP_ADDRESS=0x0b6A3645c240605887a5532109323A3E12273dc7
USDT0_ADDRESS=0x479854495cefBc8D12B971A3Ec4d18E6dbcE81a3
CONTRACT_REGISTRY=0xaD67FE66660Fb8dFE9d6b1b4240d8650e30F6019
FDC_VERIFICATION=0x906507E0B64bcD494Db73bd0459d1C667e14B933
FTSO_V2=0xC4e9c78EA53db782E28f28Fdf80BAF59336B304d
TEE_AUTHORITY=
FTSO_STALENESS_SECONDS=300
COLLATERAL_RATIO_BPS=15000
FDC_VERIFIER_API_KEY_TESTNET=
FDC_DA_URL=
XRPL_RPC=wss://s.altnet.rippletest.net:51233
XRPL_FAUCET=https://faucet.altnet.rippletest.net/accounts
